.product {
  padding: 4px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 12px;
  min-height: 243px;
  position: relative;
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  flex-grow: 1;
  margin-bottom: 4px;
}

@media (min-width: 1024px) {
  .product {
    padding: 12px;
    border-radius: 18px;
    min-height: 411px;
  }

  .image {
    height: 220px;
    border-radius: 12px;
    margin-bottom: 16px;
  }

  .title {
    font-size: 16px;
  }
}
